.overlay  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.overlay.open {
    display: block;
}

.drawer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    text-wrap: nowrap;
    background-color: var(--gray2);
    border-left: 1px solid black;
    width: 0;
}

.drawer.open {
    width: 250px;
}
