.search-page {
    padding: 10px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-icon {
    height: 20px;
}

.search-input {
    padding: 5px;
    width: 40%;
    border-radius: 20px;
}