.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 40px;
}

.image {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.image img {
    max-width: 25%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.image button {
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray3);
    border-radius: 2px;
    min-width: 200px;
}

.image button:hover {
    background-color: var(--gray1);
}

.user-stats {
    background-color: var(--gray0);
    padding: 10px;
    border: 1px solid black;
}

.container {
    grid-column: 2 / 5;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

.container button {
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray3);
    border-radius: 2px;
    min-width: 200px;
}

.container button:hover {
    background-color: var(--gray1);
}

.divider {
    border-top: 1px solid #000; 
    margin: 10px 0;
}

.input {
    min-width: 200px;
    padding-bottom: 20px;
}

.checkbox {
    min-width: 200px;
    padding-bottom: 20px;
}
