MYSQL_ALLOW_EMPTY_PASSWORD=1
MYSQL_DATABASE=your_schema_name_here
MYSQL_USER=your_app_db_user_here
MYSQL_PASSWORD=your_app_db_password_here

DB_ENGINE=mysql
DB_HOST=database # This must match the name of the database service in your docker-compose.yml file
DB_PORT=3306
DB_CHARSET=utf8mb4

JWT_SECRET=jwt_secret_key_here
